# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/

# Model weights
*.pt
*.pth
*.onnx

# Training runs & predictions
runs/
predict_runs/
output_images/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db
